<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.byung8.code.mapper.CommonCodeMapper">
	<select id="findCodeListByCodeGroup" resultType="com.byung8.common.domain.CommonCode">
		SELECT 
		    a.CD_ID as codeId
		  , a.CD_VAL as codeVal
		  , a.CD_NM as codeName
		  , a.CD_NM_ENG as codeNameEng
		  , a.GRP_VAL as codeGroupName
		  , b.GRP_NM as codeGroupVAl
		  , a.CD_DTL as description
		  , a.USE_YN as useYn
		  , a.REG_DT as regDt
		  , a.UDP_DT as udpDt
		FROM TB_CMM_CD a, TB_CD_GRP b
		WHERE a.GRP_VAL=b.GRP_VAL
		AND a.GRP_VAL=#{codeGroupVAl}
		AND a.USE_YN='Y'
	</select>
	
	<select id="getCodeGroupList" resultType="com.byung8.common.domain.CodeGroup">
		SELECT
		   GRP_ID as codeGroupId
		 , GRP_VAL as codeGroupVal
		 , GRP_NM as codeGroupName
		 , GRP_NM_ENG as codeGroupNameEng
		 , GRP_DTL as description
		 , USE_YN as useYn
		 , REG_DT as regDt
		 , UDP_DT as udpDt
		FROM TB_CD_GRP
		WHERE USE_YN='Y'
	</select>

	<insert id="insertCodeGroup" parameterType="com.byung8.common.domain.CodeGroup">
		INSERT INTO TB_CD_GRP (
		GRP_VAL
		, GRP_NM_ENG
		, GRP_NM
		, GRP_DTL
		, UDP_DT
		) VALUES (
		GRP_VAL
		#{codeGroupVal}
		, #{codeGroupNameEng}
		, #{codeGroupName}
		, #{description}
		, NULL
		)
	</insert>
	
	<update id="updateCodeGroup" parameterType="com.byung8.common.domain.CodeGroup">
		UPDATE TB_CD_GRP
		SET GRP_NM_ENG=${codeGroupNameEng}
		, GRP_NM=${codeGroupName}
		, GRP_DTL=${description}
		WHERE
		GRP_ID=${codeGroupId}
	</update>

	<update id="updateCodeGroupNotUsed" parameterType="com.byung8.common.domain.CodeGroup">
		UPDATE TB_CD_GRP
		SET USE_YN=${useYn}
		WHERE
		GRP_ID=${codeGroupId}
	</update>
	
	<insert id="insertCommonCode" parameterType="com.byung8.common.domain.CommonCode">
		INSERT INTO TB_CMM_CD (
		CD_VAL
		, CD_NM_ENG
		, CD_NM
		, GRP_VAL
		, CD_DTL
		, UDP_DT
		) VALUES (
		${codeVal}
		, #{codeNameEng}
		, #{codeName}
		, #{codeGroupVAl}
		, #{description}
		, NULL
		)
	</insert>

	<update id="updateCommonCode" parameterType="com.byung8.common.domain.CommonCode">
		UPDATE TB_CMM_CD
		SET CD_NM_ENG=#{codeNameEng}
		, CD_NM=${codeName}
		, GRP_VAL=${codeGroupVAl}
		, CD_DTL=${description}
		WHERE
		CD_ID=${codeId}
	</update>

	<update id="updateCommonCodeNotUsed" parameterType="com.byung8.common.domain.CommonCode">
		UPDATE TB_CMM_CD
		SET USE_YN='N'
		WHERE
		CD_ID=${codeId}
		AND USE_YN='Y'
	</update>

	<update id="updateAllCommonCodesNotUsedByGroup" parameterType="com.byung8.common.domain.CodeGroup">
		UPDATE TB_CMM_CD
		SET USE_YN='N'
		WHERE
		GRP_VAL=${codeGroupId}
		AND USE_YN='Y'
	</update>

</mapper>